<% require "shellwords" %>
worker_processes auto;
daemon off;

events {
    worker_connections  1024;
}
http {
    # Hide nginx version information.
    server_tokens off;

    sendfile    on;
    tcp_nopush  on;
    tcp_nodelay off;

    keepalive_timeout  65;
    error_log logs/error.log notice;
    access_log logs/access.log;

    client_max_body_size 100m;
    client_body_timeout 600s;

    upstream php {
        server unix:/tmp/php-fpm.sock max_fails=3 fail_timeout=5s;
        keepalive 16;
    }

    <% if ENV.has_key? "INDEX_DOCUMENT" and ENV['INDEX_DOCUMENT'].to_s != "" %>
    index <%= ENV['INDEX_DOCUMENT'] %> index.html index.htm index.xhtml;
    <% else %>
    index index.html index.htm index.xhtml;
    <% end %>

    include mime.types;
    default_type application/octet-stream;

    # Enable Gzip compression.
    gzip on;
    gzip_http_version 1.0;
    gzip_comp_level 5;
    gzip_min_length 256;
    gzip_proxied any;
    gzip_vary on;
    gzip_types
      application/atom+xml
      application/javascript
      application/x-javascript
      application/json
      application/rss+xml
      application/vnd.ms-fontobject
      application/x-font-ttf
      application/x-web-app-manifest+json
      application/xhtml+xml
      application/xml
      font/opentype
      image/svg+xml
      image/x-icon
      text/css
      text/plain
      text/x-component;
    # text/html is always compressed by HttpGzipModule

    server {
        server_name localhost;
        listen <%= ENV['PORT'] %>;

        #Specify a charset
        charset utf-8;

        include site.conf;

        <% Shellwords.split(ENV['NGINX_INCLUDES'].to_s).each do |f| %>
        include /app/<%= f %>;
        <% end %>
    }
}
